<h1>Microblog - About us</h1>
<p>
	This is a small micro blogging site that was created by <a href="http://davidschneller.com">me</a> to learn Ruby on Rails using Michael Hartl's rails tutorial.
</p>
